@import "tailwindcss";

:root {
  --background: #030014;
  --foreground: #FFFFFF;
 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-satoshi);
  --font-mono: var(--font-satoshi);
    --color-primary: #5E05A6;
      --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
 
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-satoshi);
}
